@use "../../../../../../../styles/common" as *;

.personPicCont {
    display: flex;
    gap: 16px;
    justify-content: center; 
    align-items: center;
    background-color: $cream;
    .picWrapper {
        background-color: $blue;
        border-radius: 50%;
        width: 128px;
        height: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .personPic {
        background-color: transparent;
        margin-bottom: 16px;
    }
  }
  

  
