@import "../../../../../styles/common";

.companyInfoCont {
    color: $black;
    font-size: 14px;
    max-width: 568px;
    margin: 80px auto 40px;
    max-height: 560px;
    overflow-y: scroll;
    border-radius: 5px;
    text-align: left;
    &::-webkit-scrollbar {
        background: $cream;
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $yellow;
        border-radius: 5px;
    }
    .companyInfoList {
        margin-bottom: 24px;
        .infoDetail {
            display: flex;
            justify-content: center;
            padding: 16px 0;
        }
        .line {
            max-width: 520px;
            height: 1px;
            background-color: $blue;
            margin-left: 24px;
        }
    }
}

.companyInfoCont dt {
    width: 30%;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 500;
}

.companyInfoCont dd {
    width: 70%;
    font-size: 14px;
    font-weight: 500;
}

.companyInfoCont iframe {
    border: none;
    padding: 16px;
}