@import "../../../../../../styles/common";

.commentSection {
    background-color: $cream;
    .commentCont {
        margin: 0 auto;
        gap: 64px;
         padding: 64px 0;
        background-color: $cream;
        list-style: none;
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        .commentList {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            background-color: $cream;
        }
        .commentListBox {
            background-color: $blue;
            border-radius: 5px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white;
            min-height: 430px;
        }
        .personInfo {
            background-color: $blue;
            text-align: center;
            margin: 24px 16px 16px;
            .personDepertment {
                background-color: $blue;
                font-size: 14px;
                margin-bottom: 4px;
                font-weight: 300;
            }
            .personName {
                background-color: $blue;
                font-size: 18px;
                .personName2 {
                    background-color: $blue;
                    font-size: 14px;
                    margin-left: 8px;
                }
            }
        }
        .line {
            width: 15vw;
            height: 1px;
            background-color: $white;
            display: inline-block;
            margin: 16px 0 24px;
        }
        .commentText {
            background-color: $blue;
            font-size: 14px;
            font-weight: 300;
            padding: 0 16px;
        }
    }
    
    
}
