@import "../../../../../../styles/common";

.graphTitle {
    background-color: $orange;
    color: $white;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    padding: 8px 24px;
}