@use '../../../../styles/common' as *;

.inquiryBtn {
    background-color: $red;
    padding: 16px 64px 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px -8px 0 0 $red-shadow;
    color: $white;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: transform 0.4s ease-in, box-shadow 0.4s ease-in;
    &:hover {
        box-shadow: 0 0 0 $ornage-shadow; 
        transform: translate(4px, -2px);  
    }
    &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        border-right: solid 3px $white;
        border-bottom: solid 3px $white;
        transform: rotate(-45deg);
        margin: 0 0 2px 32px;
        @include mq (440px) {
            width: 12px;
            height: 12px;
            border-right: solid 2px $white;
            border-bottom: solid 2px $white;
            margin: 0 0 2px 16px;
        }
    }
    @include mq (550px) {
        font-size: 24px;
        padding: 16px 40px 12px;
    }
    @include mq (440px) {
        font-size: 20px;
        padding: 16px 24px 12px;
    }
}