@use '../../../../../styles/common' as *;

.pointListCont {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    @include mq (500px) {
        gap: 64px;
    }
}

