@use "../../../../../styles/common" as *;

.telSection {
    background-color: $cream;
    border-radius: 5px;
    border: solid 1px $blue;
    padding: 40px 56px;
    margin: 24px 40px;
    @include mq (440px) {
        margin: 24px;
        padding: 40px 24px;
    }
    @include mq (360px) {
        margin: 24px 16px;
    }
    .telCont {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $cream;
        color: $orange;
        font-size: 32px;
        font-weight: 600;
        .telImg {
            background-color: $cream;
            margin: 4px 4px 0 0;
        }
        .telText {
            background-color: $cream;
            @include mq (400px) {
                font-size: 28px;
            }
            @include mq (375px) {
                font-size: 24px;
            }
        }
    }
    .telTime {
        background-color: $cream;
        color: $black;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin-top: 8px;
        @include mq (550px) {
            display: flex;
            justify-content: center;
        }
        @include mq (400px) {
            font-size: 16px;
        }
        .acceptTimetitle {
            background-color: $cream;
        }
        .acceptTimeCont {
            @include mq (550px) {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            .acceptTime {
                background-color: $cream;
            }
            .acceptTime {
                background-color: $cream;
            }
        }
    }
}