@import "../../../../styles/common";

.headerTitleSec {
    margin: 48px 0 24px 24px;
    background-color: $blue;
    .headerTitleLink {
        background-color: $blue;
        .headerTitle {
            background-color: $blue;
        }
    }
}