@use "../../../../styles/common" as *;

.partsStyle {
    background-color: $orange;
    padding: 8px 24px;
    color: $white;
    font-weight: 600;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    letter-spacing: .1em;
}