@use "../../../../../../styles/common" as *;

.interviewSection {
    background-color: $blue;
    margin-top: 64px;
    padding-bottom: 56px;
    .isView {
        display: flex;
        padding: 64px 0;
        background-color: $blue;
        gap: 40px;
        @include mq (900px) {
            flex-direction: column;
        }
        .imgCont {
            display: flex;
            flex-direction: column;
            background-color: $blue;
            gap: 24px;
            @include mq (900px) {
                align-items: center;
            }
            .img {
                border-radius: 10px;
                @include mq (420px) {
                    width: 80%;
                    height: auto;
                }
            }
        }
        .titleCont {
            background-color: $blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            @include mq (900px) {
                margin: 0 40px;
            }
            @include mq (420px) {
                margin: 0 24px;
            }
            .interviewTitle {
                color: $orange;
                font-size: 22px;
                font-weight: 700;
                background-color: $blue;
                @include mq (400px) {
                    font-size: 18px;
                }
            }
            .interviewSummary {
                color: $white;
                background-color: $blue;
                text-align: justify;
                font-weight: 300;
                margin-bottom: 16px;
                @include mq (400px) {
                    font-size: 14px;
                }
            }
            .detailViewBtnCont {
                background-color: $blue;
            }
        }
    }
    .detailCont {
        display: none;
    }
    .detailContShow {
        display: block;
        background-color: $blue;
        padding-bottom: 64px;
        outline: 2px solid $blue;
        background-color: $white;
        border-radius: 5px;
    }
}




