@import "../../../../../../styles/common";

.interviewSection {
    background-color: $blue;
    margin-top: 64px;
    .isView {
        display: flex;
        padding: 64px 0;
        background-color: $blue;
        gap: 40px;
        .imgCont {
            display: flex;
            flex-direction: column;
            background-color: $blue;
            gap: 24px;
            .img {
                border-radius: 10px;
            }
        }
        .titleCont {
            background-color: $blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            .interviewTitle {
                color: $orange;
                font-size: 22px;
                font-weight: 700;
                background-color: $blue;
            }
            .interviewSummary {
                color: $white;
                background-color: $blue;
                text-align: justify;
                font-weight: 300;
                margin-bottom: 16px;
            }
        }
    }
    .detailCont {
        display: none;
    }
    .detailContShow {
        display: block;
        background-color: $blue;
        padding-bottom: 64px;
    }
}




