@use '../../../styles/common' as *;

.headerSec {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $blue;
    @include mq(1200px) {
        position: fixed;
        width: 100vw;
        height: auto;
        z-index: 10;
    }
}