@import '../../../../styles/common';

.topSection {
    background-color: $cream;
    .titleCont {
        padding-top: 24px;
        background-color: $cream;
        opacity: 0;
        height: auto;
        .subTitle {
            margin: 16px 0 16px 48px;
            font-size: 22px;
            color: $black;
            background-color: $cream;
        }
        .mainTitle {
            background-color: $blue;
            display: inline-block;
            padding: 8px 48px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            margin-bottom: 32px;
            .titleImg {
                background-color: $blue;
            }
        }
    }    
    .topImgCont {
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        opacity: 0;
        height: auto;
    }
    .descriptionCont {
        margin-top: 32px;
        background-color: $cream;
        opacity: 0;
        height: auto;
        .description {
            color: $orange;
            margin-left: 48px;
            display: flex;
            align-items: center;
            background-color: $cream;
            .boxText {
                background-color: $yellow;
                color: $white;
                font-size: 28px;
                font-weight: 600;
                padding: 8px 16px;
                border-radius: 5px;
                letter-spacing: .1em;
            }
            .textNomal {
                font-size: 28px;
                font-weight: 700;
                background-color: $cream;
            }
            .textSmall {
                font-size: 20px;
                font-weight: 600;
                margin: 0 8px;
                background-color: $cream;
            }
        }
    }
    .inquryBtn {
        margin-top: 40px;
        margin-bottom: 64px;
        padding-bottom: 64px;
        display: flex;
        justify-content: center;
        background-color: $cream;
        opacity: 0;
        height: auto;
    }
}