@import "../../../styles/common";

.footerSection {
    background-color: $blue;
    display: flex;
    justify-content: center;
    padding: 48px;
    .footerCont {
        background-color: $blue;
        display: flex;
        .footerContents {
            background-color: $blue;
            margin-top: 40px;
            .footerTitle {
                color: $orange;
                font-weight: 600;
                background-color: $blue;
            }
            .footerList {
                list-style: none;
                margin-left: 24px;
                padding: 0;
                background-color: $blue;
                margin-top: 24px;
                .footerListText {
                    margin: 8px 0 16px;
                    .footerText {
                        background-color: $blue;
                        color: $white;
                        cursor: pointer;
                        .mark {
                            content: "";
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-right: solid 2px $white;
                            border-bottom: solid 2px $white;
                            transform: rotate(-45deg);
                            margin: 0 0 2px 32px;
                            background-color: $blue;
                            margin-top: 4px;
                        }
                    }
                    .footerText2 {
                        background-color: $blue;
                        color: $white;
                        display: flex;
                        flex-direction: column;
                        .mark {
                            content: "";
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-right: solid 2px $white;
                            border-bottom: solid 2px $white;
                            transform: rotate(-45deg);
                            margin: 0 0 2px 32px;
                            background-color: $blue;
                            margin-top: 4px;
                        }
                        .footerText3 {
                            background-color: $blue;
                            color: $white;
                            cursor: pointer;
                        }
                        .footerText4Cont {
                            display: flex;
                            align-items: center;
                            background-color: $blue;
                            .footerText4 {
                                background-color: $blue;
                                color: $white;
                                cursor: pointer;
                            }
                        }
                    }
 
                }
            }
        }
    }
    .line {
        width: 1px;
        height: 200px;
        background-color: $white;
        margin: 0 80px;
    }
}

.bodyFixed {
    overflow: hidden;
}