@import "../../../../../../styles/common";

.commentSection {
    background-color: $cream;
    padding: 0 24px;
    .commentCont {
        gap: 64px;
        padding: 64px 0;
        background-color: $cream;
        list-style: none;
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        @include mq (900px) {
            gap: 32px;
        }
    }
}
