@use "../../../../../../styles/common" as *;

.flowList {
    background-color: $cream;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .25);
    opacity: 0;
    padding: 16px 0 0;
    .flowListImg {
        margin: 16px 0;
    }
    .flowListTitle {
        display: block;
        background-color: $blue;
        width: 100%;
        color: $white;
        text-align: center;
        padding: 4px 0;
    }
    .flowListTextCont {
        padding: 16px 24px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $cream;
        @include mq (900px) {
            padding: 16px 40px 24px;
        }
        @include mq (620px) {
            padding: 16px 24px 24px;
        }
        @include mq (551px) {
            padding: 16px 80px 24px;
        }
        @include mq (400px) {
            padding: 16px 40px 24px;
        }
        .flowListText {
            font-size: 14px;
            display: inline;
            text-align: justify;
            margin: auto 0;
            background-color: $cream;
            line-height: 1.6;
        }
    }
}