@use "../../../../../styles/common" as *;

.companyInfoCont {
    color: $black;
    font-size: 14px;
    max-width: 568px;
    margin: 64px 16px 40px;
    max-height: 60vh;
    overflow-y: scroll;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    padding: 0 24px;
    @include mq (540px) {
        padding: 0;
    }
    &::-webkit-scrollbar {
        background: $cream;
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $yellow;
        border-radius: 5px;
    }
}

.companyInfoCont dl {
    display: flex;
    padding: 16px 0;
    flex-wrap: wrap;
    margin: 0 5% 24px;
}

.companyInfoCont dt {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0;
    border-bottom: 1px solid $blue;
    line-height: 1.8;
}

.companyInfoCont dd {
    width: 70%;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0;
    border-bottom: 1px solid $blue;
    line-height: 1.8;
}

.companyInfoCont iframe {
    border: none;
    padding: 24px;
    width: 100%;
}