@import "../../../../styles/common";

.modalSection {
    display: none;
}

.modalBg {
    background-color: rgba(0, 0, 0, .6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 5;
}

.modalSectionShow {
    display: block;
    max-width: 480px;
    width: 50%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 5px;
    .modalTitle {
        background-color: $blue;
        color: $white;
        text-align: center;
        padding: 4px 0;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .modalContents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .modalImg {
            margin-top: 32px;
        }
        .modalText {
            padding: 24px 40px 40px;
            font-size: 14px;
            letter-spacing: .1em;
        }
    }
    .closeBtnCont {
        text-align: center;
        padding-bottom: 32px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}