@import "../../../../../styles/common";

.cardCont {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .cardList {
        background-color: $blue;
        color: $white;
        display: flex;
        padding: 24px 32px;
        gap: 32px;
        border-radius: 5px;
        .cardLeftCont {
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $blue;
            .cardSubPoint {
                margin-top: 16px;
                background-color: $blue;
            }
            .cardPoint {
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.05em;
                background-color: $blue;
            }
        }
        .cardLine {
            width: 1px;
            height: 120px;
            background-color: $white;
        }
        .cardRightCont {
            width: 65%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $blue;
            .cardText {
                font-size: 14px;
                font-weight: 300;
                text-align: justify;
                background-color: $blue;
            }
        }
    }
}